@font-face {
    font-family: "SVN-Product-bold";
    src: url("../fonts/SVN-Product\ Sans\ Bold.otf");
}

@font-face {
    font-family: "SVN-Product-regular";
    src: url("../fonts/SVN-Product\ Sans\ Regular.otf");
}

body {
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dropdown {
    font-family: "SVN-Product-regular"
}

.bg-blue {
    background: #009EFD;
}

.bg-dark {
    background: #243B55;
}

.navbar {
    box-shadow: 0 2px 2px -2px rgba(97, 97, 97, 0.7);
}

.card-text {
    font-family: "SVN-Product-regular";
    font-weight: 200;
    color: #243B55;
    font-size: 16px;
}

.btn-sm {
    width: 40%;
    height: 100%;
    align-content: center;
    margin-top: 20px;
}

h3 {
    font-family: "SVN-Product-regular";
    font-weight: 600;
    color: #243B55;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 125px;
}

h2 {
    font-family: "SVN-Product-regular";
    font-weight: 600;
    color: #009EFD;
    font-size: 18px;
}

h5 {
    font-family: "SVN-Product-regular";
    font-weight: 600;
    color: #243B55;
}

.container {
    margin-top: -10px;
}

.btn-r {
    font-family: "SVN-Product-regular";
    color: white;
    width: 40%;
    align-content: center;
}

.btn-xoa {
    background: #c31432;
    font-family: "SVN-Product-regular";
    color: white;
}

.btn-chuyentien {
    background: rgb(62, 192, 116);
    margin-right: 10px;
    color: white;
}

.btn-add {
    background: #009EFD;
    color: white;
    margin-right: 130px;
}

.thead-blue {
    color: white;
    background: #009EFD;
}

a {
    font-family: "SVN-Product-regular";
    font-weight: 100;
    color: #009EFD;
}

td {
    font-family: "SVN-Product-regular";
    font-weight: 100;
    color: #243B55;
}

th {
    font-family: "SVN-Product-bold";
    color: #243B55;
}

.footer {
    background: #243B55;
    height: auto;
    padding-bottom: 28px;
    padding-top: 20px;
    position: relative;
    width: 100%;
    border-top: 1px solid #DDDDDD;
}

.pull-left {
    font-family: "SVN-Product-regular";
    font-weight: 50;
    color: #ffffff;
    font-size: 14px;
}

.fa {
    color: white;
}

.col2 {
    width: 50dp;
}

.btn-huy {
    background-color: #bdc3c7;
    color: white;
    width: 130px;
    font-family: "SVN-Product-regular";
}

.btn-save {
    background-color: #009EFD;
    color: white;
    width: 130px;
    font-family: "SVN-Product-regular";
}

.form-text {
    color: #e74c3c;
}

.btn-xoa-taikhoan {
    background-color: #bdc3c7;
    color: white;
    width: fit-content;
    font-family: "SVN-Product-regular";
    text-align: center;
    align-items: center;
    margin-right: 10px;
}

.modal-header {
    font-family: "SVN-Product-regular";
    font-weight: 600;
    color: #c31432;
}

.modal-body {
    font-family: "SVN-Product-regular";
    font-weight: 100;
    color: #243B55;
}

.label {
    font-family: "SVN-Product-bold";
}