::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5.5% 2.5% 1.5% 1.5%;
  width: px;
  display: inline-block;
  text-align: center;
  width: 350
}

.col-md-1 {
  width: 50px;
}

@font-face {
  font-family: "SVN-Product-bold";
  src: url("../fonts/SVN-Product\ Sans\ Bold.otf");
}

@font-face {
  font-family: "SVN-Product-regular";
  src: url("../fonts/SVN-Product\ Sans\ Regular.otf");
}

body {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dropdown {
  font-family: "SVN-Product-regular"
}

.bg-dark {
  background: #243B55;
}

.navbar {
  box-shadow: 0 2px 2px -2px rgba(97, 97, 97, 0.7);
}

.card-text {
  font-family: "SVN-Product-regular";
  font-weight: 600;
  color: #243B55;
  font-size: 16px;
}

.btn-sm {
  width: 40%;
  height: 100%;
  align-content: center;
  margin-top: 20px;
}

.row-centered {
  text-align: center;
}

h3 {
  font-family: "SVN-Product-regular";
  font-weight: 600;
  color: #243B55;
  font-size: 17px;
  margin-top: 20px;
  margin-left: 60px;
}

h2 {
  font-family: "SVN-Product-regular";
  font-weight: 600;
  color: #009EFD;
  font-size: 18px;
}

h5 {
  font-family: "SVN-Product-regular";
  font-weight: 600;
  color: #243B55;
}

.container {
  margin-top: -10px;
}

.btn-card {
  background-color: #009EFD;
  font-family: "SVN-Product-regular";
  color: white;
  align-content: center;
  border: none;
  text-align: center;
  font-size: 15px;
  width: 40%;
}

.thead-blue {
  color: white;
  background: #009EFD;
}

a {
  font-family: "SVN-Product-regular";
  font-weight: 100;
  color: #009EFD;
}

td {
  font-family: "SVN-Product-regular";
  font-weight: 100;
  color: #243B55;
}

th {
  font-family: "SVN-Product-bold";
  color: #243B55;
}

.footer {
  background: #243B55;
  height: auto;
  padding-bottom: 28px;
  padding-top: 20px;
  position: relative;
  width: 100%;
  border-top: 1px solid #DDDDDD;
}

.pull-left {
  font-family: "SVN-Product-regular";
  font-weight: 50;
  color: #ffffff;
  font-size: 14px;
}

.fa {
  color: #009EFD;
}

.fa-plus-square {
  color: white
}

.fa-cc-mastercard {
  color: white
}