@font-face {
    font-family: "SVN-Product-bold";
    src: url("../fonts/SVN-Product\ Sans\ Bold.otf");
}

@font-face {
    font-family: "SVN-Product-regular";
    src: url("../fonts/SVN-Product\ Sans\ Regular.otf");
}

.btn-login {
    background-color: #009EFD;
    border-radius: 5px;
    font-family: "SVN-Product-regular";
    color: white;
    width: fit-content;
    align-content: center;
}

.bg {
    background: url(../img/login.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.row {
    margin-top: 30px;
}

p {
    font-family: "SVN-Product-bold";
    font-size: 50px;
    color: white;
}

h4 {
    font-family: "SVN-Product-regular";
    font-size: 25px;
    color: white;
    font-weight: 200;
    margin-top: -20px;
}

label {
    font-family: "SVN-Product-regular";
    font-size: 15px;
}

#col-Login {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.grecaptcha-badge {
    display: none;
}